.layout {
  display: flex;
  flex-direction: column; 
}

main {
  width: 100%;
  color: #ccc;
}

.topbar {
  width: 100%;
  background-color: var(--color-white);
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--dark-blue);
  height: 70px;
}

.logo {
  font-size: 30px;
  color: var(--color-white);
  cursor: pointer;
  padding-right: 20px; 
}

.bars {
  font-size: 25px;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.3s;
}

.menu_items {
  display: flex;
  gap: 15px;  
  white-space: nowrap;
  text-align: center;
  align-items: center;
  
}

.topbar-item {
  margin-left: 15px;  
  margin-right: 15px;  
  white-space: nowrap;
}

.dropdown-item {
  padding: 10px 15px; 
  background-color: #f7f7f7; 
}

.dropdown-item:hover {
  background-color: #e0e0e0; 
}
.sidebar-title {
  white-space: nowrap;
}
.sidebar-item.s-parent {
  margin-bottom: 20px; 
}
.s-child {
  margin-bottom: 10px; 
}
.sidebar-title {
  flex-shrink: 0;
}
.sidebar-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

